/*
Colour scheme:
dark green: teal darken-3 #00695c
light green: lime darken-2 #afb42b
yellow: amber lighten-2 #ffd54f
orange: deep-orange lighten-1 #ff7043
coral: red lighten-1 #ef5350
*/

.top-nav {
  box-shadow: none;
  color: #fff;
  width: 100%;
}

#sidenav-overlay {
  display: none;
}

#materialbox-overlay {
  display: none !important;
}

.side-nav {
  margin-top: 56px !important;
  overflow-x: visible !important;
  overflow: visible !important;
}

.side-nav li {
  padding: 0px !important;
}

.side-nav-button {
  position: absolute;
  left: 24px;
  top: 16px;
}

.head-container {
  width: 100%;
  position: fixed;
}

.material-icons {
  color: white;
}

#search-outer-wrapper {
  padding: 10px;
}

#search-inner-wrapper {
  height: 36px;
  box-shadow: none !important;
}

#search-form, #search {
  height: 36px;
  margin: 0;
  line-height: normal;
}

#search-form .input-field {
  height: 36px;
  margin: 0;
  line-height: normal;
  padding-left: 3px;
}

#search-form .input-field input[type=search]:focus {
  color: #fff;
}

#search-form .material-icons {
  padding-top: 6px;
  padding-left: 1px;
  width: 24px;
  height: 24px;
  line-height: 28px;
  color: #fff;
}

.info-button {
  position: absolute !important;
  right: 24px;
}

.profilepic-wrapper {
  padding: 0px;
}

.infotext-wrapper {
  padding-left: 230px;
}

.node {
  cursor: pointer;
}

.overlay{
  background-color:#EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
